img{
  width: 100%;
  padding-bottom: 10px;

}

#list{
  color: #555;
  text-align: center;

  border: 2px solid #ffe6e6;
  box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.13);
  margin-left: 252px;
  margin-right: 250px;
  padding: 20px;

}
